
:root{
 --success-color:#2ecc71;
 --error-color:#e74c3c;
}
body {
 overflow-x: hidden;
}
.plus{
 position: relative;
 margin-top: -3.5%;
 margin-left: 47.5%;
}
.plusf{
 position: relative;
 margin-top: -26%;
 margin-left: 47.5%;
}
.plusu{
 position: relative;
 margin-top: -17%;
 margin-left: 47.5%;
}
.four{
 margin-top: 22%;
}
.quantite{
 margin-top: 32%;
}
.unite{
 margin-top: 32%;
 margin-left: 16.5%;
}
.image{
 position: relative;
 width: 300px;
 height: 300px;
 margin-left: 52%;
 margin-top: -7%;
}

.image img{
 width: 300px;
 height:32vh;
 cursor: pointer;
}
.btn2{
 margin-top: -12%;
}

.formC.error small{
 visibility: visible;
} 

 .formC.success input{
 border-color: var(--success-color);
}
.formC.error input{
 border-color: var(--error-color);
}
.error-message {
 color: var(--error-color);
 position: absolute;
 bottom: 0;
 left: 0;
 margin-top: 2%;
 z-index: 1;
 visibility: hidden;
}

.formC.error .error-message {
 visibility: visible;
}
.clickable-icon {
 margin-top: -2.5%;
margin-left: 1.5%;
 cursor: pointer; 
 color: #000;     
 text-decoration: none; 
}
.clickable-icon2 {
 margin-top: -10.5%;
margin-left: 2%;
 cursor: pointer; 
 color: #000;     
 text-decoration: none; 
}
.clickable-icon3 {
 margin-top: -20.5%;
margin-left:2%;
 cursor: pointer; 
 color: #000;     
 text-decoration: none; 
}
.clickable-icon:hover,.clickable-icon2:hover,.clickable-icon3:hover{
 color: #000;
}

.check{
 position: absolute;
 margin-top: 20%;
}


.checked{
 position: absolute;
 margin-top: 30%;
}

.successe-message {
 color: green;
}

.errore-message {
 color: red;
}